<div class="jumbotron">
    <h1>A propos</h1>
</div>

<!-- Le site -->
<h1>Le site</h1>

<p>Notre site internet Resto'Neuch regroupe les différents restaurants qui se trouvent à Neuchâtel.
Son but est de permettre à toutes et à tous de pouvoir consulter ces différents restaurants,
allant du fast-food au restaurant gastronomique en passant par les auberges de la ville.</p>
<p>Sur notre site, vous trouverez des informations telles qu'une description des différents restaurants,
une note attribuée à chacun d'eux, les spécialités de chacun ainsi que des photos vous permettant de
visualiser encore mieux ceux-ci. Vous connaissez certainement l'expression : "
<a href="https://fr.wiktionary.org/wiki/une_image_vaut_mille_mots" target="_blank">une image vaut mille mots</a>".</p>
<p>Nous vous souhaitons donc la <strong>BIENVENUE</strong> sur notre site et espérons que vous trouverez votre bonheur parmi nos restaurants.
</p><br>

<!-- Neuchâtel -->
<h1>Neuchâtel</h1>

<p>Neuchâtel est une ville diversifiée. Elle compte un grand nombre d'écoles, notamment des universités ou encore des Hautes Ecoles. C'est notamment là que
s'est installée la HES-SO avec ses diverses filières (Gestion, Conservation-restauration, Ingénierie ou encore Santé).</p>
<p>De plus, elle compte un grand nombre de restaurants dispersés de part et d'autres de la ville. Fast-food, pizzeria, cafés, hôtel-restaurant, restaurants gastronomiques, ...
il y en a pour tous les goûts !</p>
<p>De plus, avec son lac, elle offre un panorama fantastique en été, lors des temps ensoleillés. Et pour vous, amoureux du sport, les matches de football au seins du stade
neuchâtelois, La Maladière, sauront vous combler !
</p><br>

<!-- Images Neuchâtel -->
<p>
<div class="row">
    <div class="col-md-6">
        <img src="images/neuchatel.jpg" class="thumbnail" width="100%"></img>
    </div>
    
    <div class="col-md-6">
        <img src="images/neuchatel2.jpg" class="thumbnail" width="100%"></img>
    </div>
</div>
</p><br>

<!-- Les développeurs -->
<h1>Les développeurs</h1>

<p>Nous sommes actuellement deux étudiants de 2e année à la <a href="http://www.he-arc.ch/gestion" target="_blank">Haute Ecole de Gestion (HEG) de Neuchâtel</a>.
Ce site internet a été développé en tant que projet dans le cadre de notre cours de Projet de technologie WEB de présentation.</p>
<p>Plusieurs technologies étudiées durant les cours ont été utilisées afin de garantir un site des plus ergonomique et estétique. Github, AngularJS et autres nous ont
permis de développer au mieux le site, qu'il s'agisse de son design ou de sa mise en ligne.
</p><br>

<!-- Photos développeurs -->
<p>
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <a href="https://www.facebook.com/johan.steiner?fref=ts" target="_blank"><img ng-src="images/johan_steiner.jpg" width="100%" class="thumbnail"></img></a>
    </div>

    <div class="col-md-3 col-md-offset-2">
        <a href="https://www.facebook.com/seb.quiquerez?fref=ts" target="_blank"><img ng-src="images/sebastien_quiquerez.jpg" width="100%" class="thumbnail"></img></a>
    </div>
</div>
</p>
