<div class="jumbotron">
    <h1>Nous contacter</h1>
</div>

<div class="row">
    <!-- Insertion de la map Google -->
    <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1714.2106466538007!2d6.9398380972985665!3d46.99822968807326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e0a220da1e9d9%3A0x6d6d3754dae8a378!2sHaute+%C3%A9cole+de+gestion+Arc+(HEG+Arc)!5e0!3m2!1sfr!2sch!4v1452526480379" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <!-- Seconde colonne pour les infomations-->
    <div class="col-md-5">
        <center>
        
        <!-- Logo HEG -->
        <p><img ng-src="images/heg-arc.jpg" alt="heg-arc.jpg" width="100%" class="thumbnail"></img></p>
        
        <!-- Informations HEG -->
        <h2 style="margin-top:10px; margin-bottom:15px;">Nous trouver</h2>

        <strong>
        Haute Ecole de Gestion Arc (HEG-Arc)<br>
        Espace de l'Europe 21<br>
        2000 Neuchâtel<br>
        032 930 20 20<br>
        gestion@he-arc.ch
        </strong>
        <br><br>

        <!-- Site Internet -->
        <h2 style="margin-top:10px; margin-bottom:15px;">Pour plus d'informations</h2>
        
        <p><strong>
        <a ng-href="http://www.he-arc.ch/gestion" target="_blank"><div style="font-size:20px;">www.he-arc.ch/gestion</div></a>      
        </strong></p>
        </center>
        
    </div>
</div><br>