<div class="jumbotron">
    <h1>Nos partenaires</h1>
</div>

<p>
<div class="row">
    <!-- Première ligne -->
    <div class="col-md-4">
        <!-- text-align : Centrer le texte -->
        <h3 style="text-align: center">AngularJS</h3><br>
        <a href="https://angularjs.org/" target="_blank"><img src="images/partenaires/AngularJS_Logo.png" width="100%"></img></a>
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center">Grunt</h3><br>
        <a href="http://gruntjs.com/" target="_blank"><img src="images/partenaires/Grunt_Logo.png" width="100%"></img></a>
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center">NodeJS</h3><br>
        <a href="https://nodejs.org/" target="_blank"><img src="images/partenaires/NodeJS_Logo.png" width="100%"></img></a>
    </div>
</div>
</p><br><br>

<p>
<div class="row">
    <!-- Deuxième ligne -->
    <div class="col-md-4">
        <h3 style="text-align: center">Bower</h3><br>
        <!-- Centrer l'image (de base, elle est sur la droite) -->
        <div class="col-md-9 col-md-offset-3">
            <a href="http://bower.io/" target="_blank"><img src="images/partenaires/Bower_Logo.png" width="60%"></img></a>
        </div>       
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center">NPM</h3><br>
        <a href="https://www.npmjs.com/" target="_blank"><img src="images/partenaires/Npm_Logo.png" width="100%"></img></a>
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center">Yeoman</h3><br>
        <div class="col-md-9 col-md-offset-3">
            <a href="http://yeoman.io/" target="_blank"><img src="images/partenaires/Yeoman_Logo.png" width="60%"></img></a>
        </div>
    </div>
</div>
</p><br><br>

<p>
<div class="row">
    <!-- Troisième ligne -->
    <div class="col-md-4">
        <h3 style="text-align: center">Bootstrap</h3><br>
        <a href="http://getbootstrap.com/" target="_blank"><img src="images/partenaires/Bootstrap_Logo.png" width="100%"></img></a>
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center">GitHub</h3><br>
        <a href="https://github.com/" target="_blank"><img src="images/partenaires/GitHub_Logo.png" width="90%"></img></a>
    </div>

    <div class="col-md-4">
        <h3 style="text-align: center">Firebase</h3><br>
        <a href="https://www.firebase.com/" target="_blank"><img src="images/partenaires/Firebase_Logo.png" width="100%"></img></a>
    </div>
</div>
</p>